name: sac
channels:
  - defaults
  - https://repo.anaconda.com/pkgs/main
  - https://repo.anaconda.com/pkgs/r
dependencies:
  - _libgcc_mutex=0.1=main
  - _openmp_mutex=5.1=1_gnu
  - bzip2=1.0.8=h5eee18b_6
  - ca-certificates=2025.9.9=h06a4308_0
  - expat=2.7.1=h6a678d5_0
  - ld_impl_linux-64=2.44=h153f514_2
  - libffi=3.4.4=h6a678d5_1
  - libgcc-ng=11.2.0=h1234567_1
  - libgomp=11.2.0=h1234567_1
  - libmpdec=4.0.0=h5eee18b_0
  - libstdcxx-ng=11.2.0=h1234567_1
  - libuuid=1.41.5=h5eee18b_0
  - libxcb=1.17.0=h9b100fa_0
  - libzlib=1.3.1=hb25bd0a_0
  - lz4-c=1.9.4=h6a678d5_1
  - ncurses=6.5=h7934f7d_0
  - openssl=3.0.18=hd6dcaed_0
  - pip=25.1=pyh0d26453_1
  - pthread-stubs=0.3=h0ce48e5_1
  - python=3.14.0=h3fc5862_100_cp314
  - python_abi=3.14=1_cp314
  - readline=8.3=hc2a1206_0
  - sqlite=3.50.2=hb25bd0a_1
  - tk=8.6.15=h54e0aa7_0
  - xorg-libx11=1.8.12=h9b100fa_1
  - xorg-libxau=1.0.12=h9b100fa_0
  - xorg-libxdmcp=1.1.5=h9b100fa_0
  - xorg-xorgproto=2024.1=h5eee18b_1
  - xz=5.6.4=h5eee18b_1
  - zlib=1.3.1=hb25bd0a_0
  - zstd=1.5.7=h11fc155_0
  - pip:
      - aiofiles==25.1.0
      - alembic==1.17.0
      - annotated-types==0.7.0
      - anthropic==0.69.0
      - anyio==4.11.0
      - audioop-lts==0.2.2
      - autogen-agentchat==0.4.9.3
      - autogen-core==0.4.9.3
      - autogen-ext==0.4.9.3
      - autogenstudio==0.4.2.2
      - autopep8==2.3.2
      - azure-ai-documentintelligence==1.0.2
      - azure-ai-inference==1.0.0b9
      - azure-core==1.36.0
      - azure-identity==1.25.1
      - beautifulsoup4==4.14.2
      - certifi==2025.10.5
      - cffi==2.0.0
      - charset-normalizer==3.4.4
      - click==8.3.0
      - cobble==0.1.4
      - cryptography==46.0.2
      - defusedxml==0.7.1
      - distro==1.9.0
      - dnspython==2.8.0
      - docopt==0.6.2
      - docstring-parser==0.17.0
      - email-validator==2.3.0
      - et-xmlfile==2.0.0
      - fastapi==0.119.0
      - fastapi-cli==0.0.13
      - fastapi-cloud-cli==0.3.1
      - greenlet==3.2.4
      - h11==0.16.0
      - html2text==2025.4.15
      - httpcore==1.0.9
      - httptools==0.7.1
      - httpx==0.28.1
      - idna==3.11
      - importlib-metadata==8.7.0
      - isodate==0.7.2
      - jinja2==3.1.6
      - jiter==0.11.0
      - jsonref==1.1.0
      - loguru==0.7.3
      - lxml==6.0.2
      - mako==1.3.10
      - mammoth==1.11.0
      - markdown-it-py==4.0.0
      - markdownify==1.2.0
      - markitdown==0.0.2
      - markupsafe==3.0.3
      - mdurl==0.1.2
      - msal==1.34.0
      - msal-extensions==1.3.1
      - numpy==2.3.3
      - olefile==0.47
      - openai==2.3.0
      - openpyxl==3.1.5
      - opentelemetry-api==1.37.0
      - pandas==2.3.3
      - pathvalidate==3.3.1
      - pdfminer-six==20250506
      - pillow==11.3.0
      - pipreqs==0.4.13
      - playwright==1.55.0
      - protobuf==5.29.5
      - psycopg==3.2.10
      - puremagic==1.30
      - pycodestyle==2.14.0
      - pycparser==2.23
      - pydantic==2.12.2
      - pydantic-core==2.41.4
      - pydantic-settings==2.11.0
      - pydub==0.25.1
      - pyee==13.0.0
      - pygments==2.19.2
      - pyjwt==2.10.1
      - python-dateutil==2.9.0.post0
      - python-dotenv==1.1.1
      - python-multipart==0.0.20
      - python-pptx==1.0.2
      - pytz==2025.2
      - pyyaml==6.0.3
      - regex==2025.9.18
      - requests==2.32.5
      - rich==14.2.0
      - rich-toolkit==0.15.1
      - rignore==0.7.0
      - sentry-sdk==2.41.0
      - shellingham==1.5.4
      - six==1.17.0
      - sniffio==1.3.1
      - soupsieve==2.8
      - speechrecognition==3.14.3
      - sqlalchemy==2.0.44
      - sqlmodel==0.0.27
      - standard-aifc==3.13.0
      - standard-chunk==3.13.0
      - starlette==0.48.0
      - tiktoken==0.12.0
      - tqdm==4.67.1
      - typer==0.19.2
      - typing-extensions==4.15.0
      - typing-inspection==0.4.2
      - tzdata==2025.2
      - urllib3==2.5.0
      - uvicorn==0.37.0
      - uvloop==0.21.0
      - watchfiles==1.1.1
      - websockets==15.0.1
      - xlrd==2.0.2
      - xlsxwriter==3.2.9
      - yarg==0.1.10
      - youtube-transcript-api==1.2.3
      - zipp==3.23.0
prefix: /home/shuyang/miniconda3/envs/sac
